torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
accelerate==1.0.0
captum==0.7.0
datasets==3.0.1
huggingface-hub==0.25.2
numpy==1.26.3
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.14.1
matplotlib==3.9.2
seaborn==0.13.2
sentence-transformers==3.1.1
sentencepiece==0.2.0
tqdm==4.66.5
transformers==4.45.2
xgboost==2.1.4
protobuf==5.29.3